* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1d1d;
}

.title {
    text-align: center;
    margin-top: 51.7px;
    margin-bottom: 30px;
}

.title h3 {
    font-family: 'Sylvester';
    font-size: 3vw;
    font-weight: 400;
    color: #8F94FF;
}

.title h1 {
    font-family: 'Satoshi';
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}

.card-group .card img {
    width: 15vw;
}

.card img {
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.card h3,
p {
    color: #f1f1f1;
    font-size: 1.2vw;
    font-weight: 400;
    margin-top: 10px;
}

.one {
    margin-top: 10px;
}

.two {
    margin-top: 80px;
}

.three {
    margin-top: 5px;
}

.four {
    margin-top: 50px;
}

@media (max-width: 844px) {
    .title h3 {
        font-size: 40px;
    }
    
    .title h1 {
        font-size: 40px;
    }
    
    .card-group {
        display: inline-flex;
    }
    
    .card-group .card img {
        width: 40vw;
    }

    .card h3,
    p {
        font-size: large;
    }

    .five {
        margin-top: 50px;
    }
}